@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap');

:root{
    font-family: Playfair Display , sans-serif;
    --main-color: black;
}

header .logo{
font-family: Merriweather;
font-size: 3rem;
text-align: center;
margin: 5px 0;
}
h1{
font-family: Merriweather;
font-size: 3rem;
}
header nav .menu{
display:flex;
list-style:none;
padding:0;
justify-content:space-around;
border:1px solid transparent;
}

header nav .menu a{
text-transform: upper-case;
text-decoration: none;
color: var(--main-color);
padding:8px;
border:1px solid transparent;
}

header nav .menu a:hover {
border:1px solid var(--main-color);
padding:8px;
}

@media (min-width: 600px){
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around; 
    }
} 
header .menu{
    flex:1;
}
header .banner{
  background-image: url(../img/light.jpg);
  min-height: 550px;  
  background-position: center;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
header .banner h1{
font-size: 4rem;
font-family:Playfair Display , sans-serif ;
}
 .button{
   background-color:transparent;
   color:#6D9D4F; 
   border-radius: 40px;
   font-size:20px;
 }
  .button:hover{
   font-weight:bold ;
   color: #000000;
   border-radius: 40px; 
   font-size:20px;
}
 img{
    width:100%;
    display:block;
    min-height:500px;
}

@media (min-width: 550px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;
    }
}
@media (min-width: 660px){
    .products{
    
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    @media (min-width: 900px){
    .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    }
h2{
   text-align:center;
}

